@use '../../base/variables' as v;
@use '../../base/mixins' as m;

@include m.tablet{
    .container-adverts{
        @include m.gap(3, 1fr, 2rem);
    }
}

.advert{
    background-color: lighten(v.$gray, 5);
    border: 1px solid darken(v.$gray, 10);
    margin-bottom: 2rem;
    
    .content-advert{
        padding: 2rem;
    }

    h3, p {
        margin: 0
    }
}

.price{
    color: v.$green;
    font-size: 3rem;
    font-weight: v.$bold;
}


.icons-features{
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;

    
    @include m.desktop{
        display: flex;
        max-width: 40rem;
        height: 3rem;
        list-style: none;            
    }
    
    li{
        flex: 1;
        display: flex;
        align-items: center;

        img{
            flex: 0 0 3rem;
            margin-right: 1rem;
        }

        p{
            font-weight: v.$gross;
        }
    }
}