@use 'variables' as v;

.section{
    margin-top: calc(v.$separation / 2);
    margin-bottom: calc(v.$separation / 2);
}

.centered-content{
    max-width: 80rem;
}

.align-rigth{
    display: flex;
    justify-content: flex-end;
}