// Font
$main_font: 'Lato', sans-serif;

//Font sizes
$slim: 300;
$regular : 400;
$bold: 700;
$gross: 900;

//Media queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

//Palette colors
$black: #000000;
$white: #FFFFFF;
$green: #71B100;
$gray: #E1E1E1;
$dark_gray: #333333;
$yellow: #E08709;

$separation: 5rem;
